/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
.dev {
    border: 2px solid red;
}

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%
}
.inner-container {
    flex-basis: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */

@media screen and (max-width: 320px) {
    /* hier aanpassing voor mobile design */
    /* h1 {
            font-size: 1.5rem;
     */
}